<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="consultarProductosPortBinding" />
                <binding name="insertaClientesDSSOAP11Binding" />
                <binding name="insertaClientesDSSOAP11Binding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="insertaClientesDSSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServicioOMSProductos/consultarProductos"
                binding="basicHttpBinding" bindingConfiguration="consultarProductosPortBinding"
                contract="wsProductsReference.consultarProductos" name="consultarProductosPort" />
            <endpoint address="http://10.152.100.57:9763/services/insertaClientesDS.SOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="insertaClientesDSSOAP11Binding"
                contract="wsInsertaClientesDSReference.insertaClientesDSPortType"
                name="SOAP11Endpoint" />
            <endpoint address="https://10.152.100.57:9443/services/insertaClientesDS.SecureSOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="insertaClientesDSSOAP11Binding1"
                contract="wsInsertaClientesDSReference.insertaClientesDSPortType"
                name="SecureSOAP11Endpoint" />
            <endpoint address="https://10.152.100.57:9443/services/insertaClientesDS.SecureSOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="insertaClientesDSSOAP12Binding"
                contract="wsInsertaClientesDSReference.insertaClientesDSPortType"
                name="SecureSOAP12Endpoint" />
            <endpoint address="http://10.152.100.57:9763/services/insertaClientesDS.SOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="insertaClientesDSSOAP12Binding"
                contract="wsInsertaClientesDSReference.insertaClientesDSPortType"
                name="SOAP12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>