<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="consultarProductosPortBinding" />
                <binding name="administrarClientesSOAP11Binding" />
                <binding name="administrarClientesSOAP11Binding1">
                    <security mode="Transport" />
                </binding>
                <binding name="wsAutenticacionSOAP11Binding" />
                <binding name="wsAutenticacionSOAP11Binding1">
                    <security mode="Transport" />
                </binding>
                <binding name="topProductosSOAP11Binding" />
                <binding name="topProductosSOAP11Binding1">
                    <security mode="Transport" />
                </binding>
                <binding name="administrarCampanasSOAP11Binding" />
                <binding name="administrarCampanasSOAP11Binding1">
                    <security mode="Transport" />
                </binding>
                <binding name="consultasEspecialesProductosSOAP11Binding" />
                <binding name="consultasEspecialesProductosSOAP11Binding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="administrarClientesSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsAutenticacionSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="topProductosSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="administrarCampanasSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="consultasEspecialesProductosSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServicioOMSProductos/consultarProductos"
                binding="basicHttpBinding" bindingConfiguration="consultarProductosPortBinding"
                contract="wsProductsReference.consultarProductos" name="consultarProductosPort" />
            <endpoint address="http://192.168.0.14:9763/services/wsAutenticacion.SOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="wsAutenticacionSOAP11Binding"
                contract="wsAutenticacionReference.wsAutenticacionPortType"
                name="SOAP11Endpoint1" />
            <endpoint address="https://192.168.0.14:9443/services/wsAutenticacion.SecureSOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="wsAutenticacionSOAP11Binding1"
                contract="wsAutenticacionReference.wsAutenticacionPortType"
                name="SecureSOAP11Endpoint1" />
            <endpoint address="https://192.168.0.14:9443/services/wsAutenticacion.SecureSOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="wsAutenticacionSOAP12Binding"
                contract="wsAutenticacionReference.wsAutenticacionPortType"
                name="SecureSOAP12Endpoint1" />
            <endpoint address="http://192.168.0.14:9763/services/wsAutenticacion.SOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="wsAutenticacionSOAP12Binding"
                contract="wsAutenticacionReference.wsAutenticacionPortType"
                name="SOAP12Endpoint1" />
            <endpoint address="http://192.168.0.14:9763/services/topProductos.SOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="topProductosSOAP11Binding"
                contract="wsTopProductsReference.topProductosPortType" name="SOAP11Endpoint2" />
            <endpoint address="https://192.168.0.14:9443/services/topProductos.SecureSOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="topProductosSOAP11Binding1"
                contract="wsTopProductsReference.topProductosPortType" name="SecureSOAP11Endpoint2" />
            <endpoint address="https://192.168.0.14:9443/services/topProductos.SecureSOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="topProductosSOAP12Binding"
                contract="wsTopProductsReference.topProductosPortType" name="SecureSOAP12Endpoint2" />
            <endpoint address="http://192.168.0.14:9763/services/topProductos.SOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="topProductosSOAP12Binding"
                contract="wsTopProductsReference.topProductosPortType" name="SOAP12Endpoint2" />
            <endpoint address="http://169.254.204.13:9763/services/administrarClientes.SOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="administrarClientesSOAP11Binding"
                contract="wsAdministrarClientesReference.administrarClientesPortType"
                name="SOAP11Endpoint" />
            <endpoint address="https://169.254.204.13:9443/services/administrarClientes.SecureSOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="administrarClientesSOAP11Binding1"
                contract="wsAdministrarClientesReference.administrarClientesPortType"
                name="SecureSOAP11Endpoint" />
            <endpoint address="https://169.254.204.13:9443/services/administrarClientes.SecureSOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="administrarClientesSOAP12Binding"
                contract="wsAdministrarClientesReference.administrarClientesPortType"
                name="SecureSOAP12Endpoint" />
            <endpoint address="http://169.254.204.13:9763/services/administrarClientes.SOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="administrarClientesSOAP12Binding"
                contract="wsAdministrarClientesReference.administrarClientesPortType"
                name="SOAP12Endpoint" />
            <endpoint address="http://169.254.204.13:9763/services/administrarCampanas.SOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="administrarCampanasSOAP11Binding"
                contract="wsAdministrarCampanasReference.administrarCampanasPortType"
                name="SOAP11Endpoint3" />
            <endpoint address="https://169.254.204.13:9443/services/administrarCampanas.SecureSOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="administrarCampanasSOAP11Binding1"
                contract="wsAdministrarCampanasReference.administrarCampanasPortType"
                name="SecureSOAP11Endpoint3" />
            <endpoint address="https://169.254.204.13:9443/services/administrarCampanas.SecureSOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="administrarCampanasSOAP12Binding"
                contract="wsAdministrarCampanasReference.administrarCampanasPortType"
                name="SecureSOAP12Endpoint3" />
            <endpoint address="http://169.254.204.13:9763/services/administrarCampanas.SOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="administrarCampanasSOAP12Binding"
                contract="wsAdministrarCampanasReference.administrarCampanasPortType"
                name="SOAP12Endpoint3" />
            <endpoint address="http://169.254.204.13:9763/services/consultasEspecialesProductos.SOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="consultasEspecialesProductosSOAP11Binding"
                contract="wsConsultasProductosReference.consultasEspecialesProductosPortType"
                name="SOAP11Endpoint4" />
            <endpoint address="https://169.254.204.13:9443/services/consultasEspecialesProductos.SecureSOAP11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="consultasEspecialesProductosSOAP11Binding1"
                contract="wsConsultasProductosReference.consultasEspecialesProductosPortType"
                name="SecureSOAP11Endpoint4" />
            <endpoint address="https://169.254.204.13:9443/services/consultasEspecialesProductos.SecureSOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="consultasEspecialesProductosSOAP12Binding"
                contract="wsConsultasProductosReference.consultasEspecialesProductosPortType"
                name="SecureSOAP12Endpoint4" />
            <endpoint address="http://169.254.204.13:9763/services/consultasEspecialesProductos.SOAP12Endpoint/"
                binding="customBinding" bindingConfiguration="consultasEspecialesProductosSOAP12Binding"
                contract="wsConsultasProductosReference.consultasEspecialesProductosPortType"
                name="SOAP12Endpoint4" />
        </client>
    </system.serviceModel>
</configuration>