
<div id="ContainerProcess" class="modal-body">
    @if (ViewData["Resultado"] != null && (bool)(ViewData["Resultado"]))
    {
        <script type="text/javascript">
        </script>
    }
    <h3>Procesar</h3>

    @using (Ajax.BeginForm("ProcessOrder", "Administracion", new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "ContainerProcess",
        LoadingElementId = "loaderProcess",
        HttpMethod = "Post",
        OnFailure = "errorGeneral"
    }))
    {
        <p>
            Orden procesada correctamente
        </p>

        <div class="modal-footer">
           @Html.ValidationMessage("mensajeError", new { @class = "text-danger", id = "mensajeValidacion" }) <br />
            <div id="loaderProcess" class=" aletr " style="display:none">
                Caragando...
            </div>

            <button type="button" data-dismiss="modal" aria-label="Close">Aceptar</button>
        </div>
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

